        body {
            width: 100%;
            height: 100%;
        }
/* The navigation bar on the top side of the screen */
        nav {
            padding: 0;
            position: absolute;
            width: 100%;
            margin: 0 auto;
            top: 0;
            left: 0;
            background-color: dimgray;
            height: 2.5vw;
            z-index: 10;
        }
/* The bottom bar that indicates my email address. */
        footer {
            background-color: black;
            color: white;
            clear: both;
            height: 3vh;
            text-align: center;
            float: bottom;
            font-size: 1.25vw;
        }
/* The left bar that helps the user navigate to certain areas. */
        div#navbarVert {
            padding: 1.75vw 5px;
            position: fixed;
            top: 0;
            left: 0;
            background-color: ghostwhite;
            width: 7vw;
            height: 100%;
            overflow: auto;
            z-index: 0;
        }
/* The buttons for the different source code pages. */
        .button {
            margin-left: 1px;
            color: white;
            background-color: indianred;
            text-align: center;
            text-decoration: none;
            padding: 5px 1vw;
            font-size: 1.1vw;
            cursor: pointer;
            border-radius: 8px;
            border: 1px solid darkred;

            -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
        }
/* The CSS that makes the button bright red when hovered over. */
        .button:hover {
            background-color: palevioletred;
            color: black;
        }
/* The CSS that makes the button turn dark red when pressed. */
        .button:active {
            background-color: maroon;
            transform: translateY(4px);
            color: ghostwhite;
        }
/* The CSS that makes the active button green when on the corresponding source code page. */
        .activebutton {
            margin-left: 1px;
            color: white;
            background-color: limegreen;
            text-align: center;
            text-decoration: none;
            padding: 5px 1vw;
            font-size: 1.1vw;
            cursor: pointer;
            border-radius: 8px;
            border: 1px solid darkgreen;

            -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
        }
/* The CSS that makes the active button bright green when hovered over. */
        .activebutton:hover {
            background-color: lightgreen;
            color: black;
        }
/* The CSS that makes the active button sea green when pressed over. */
        .activebutton:active {
            background-color: seagreen;
            transform: translateY(4px);
            color: ghostwhite;
        }

/* The list for the top bar that holds all the different pages. */
        ul#menu li {
            display: inline;
        }
/* The individual units of the menu (pages of the website). */
        ul#menu li a {
            color: black;
            background-color: lightgray;
            text-decoration: none;
            border-radius: 5vw 5vw 5vw 5vw;
            text-align: center;
            font-size: 16px; 
            /* Note the scaling by viewport width. */
            font-size: 1vw;
            padding: 0.5vw 1.05vw;
            margin-left: 0.6vw;
            margin-top 0.5vw;
        }
/* The CSS that makes the page buttons turn white when pressed. */
        ul#menu li a.active {
            color:white;
            background-color:forestgreen;
        }
/* The CSS that makes the page buttons turn blue when hovered over. */
        ul#menu li a:hover {
            background-color: steelblue;
        }
/* The menu for the top bar that holds all the pages. Has the padding and the infinite width. */
        ul#menu {
            padding: 0.45vw;
            width: 100%;
            margin: 0 auto;
        }
/* The menu for the left bar that holds all the bookmarks. */
        ul#navigation {
            list-style-type:none;
            padding: 0;
        }
/* The individual bookmark holders for the left bar that holds all the bookmarks. */
        ul#navigation li a {
            color: lightcoral;
            padding: 0;
            text-decoration: none;
        }
/* The CSS that makes the bookmarks turn orange when hovered over. */
        ul#navigation li a:hover {
            color: orange;
        }
/* The CSS for the headers, which contain the padding and font sizes. */
        h1, h2, h3, h4, h5, h6 {
            margin-top: 2vw;
            margin-bottom: 0.5vh;
            margin-left: 8vw; padding: 10px 0; font-size: 200%;
        }
/* The CSS for the items inside the body. Most notably used for its scalable right margin. */
        p, pre {
            margin-top: 2px;
            margin-left: 8vw; margin-right: 5vw;
        }
